.idea/
__pycache__/
venv/Include/
venv/Lib/
venv/Scripts/
userdata.py
*.py
*.txt
!functions.py
!telegrambot.py
!Test.bat
!minute_start.txt
!logger.txt
*.session
*.vbs
*.session-journal
*.cfg
venv/test
